* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}

.container {
  max-width: 90% !important;
  margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
}
button:focus {
  outline: none;
}
.clear {
  clear: both;
}

.cart-icon {
  position: relative;
}
#total-cart {
  position: absolute;
  top: -8px;
  left: 20px;
  width: 30px;
  height: 26px;
  color: white;
  font-size: 1.3rem;
  background-color: red;
  line-height: 26px;
  border-radius: 50%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
  background-color: rgb(21, 151, 226);
  padding: 25px;
}

nav {
  background-color: rgb(21, 151, 226);
  margin-top: -16px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

header h1 {
  color: rgb(255, 255, 255);
}

.search-container > #search-product > button {
  margin-left: -5px;
  padding: 10px 20px;
  background: rgb(4, 138, 49);
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#search-product > input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 17px;
  border: none;
}

.fa-search {
  color: #fff;
}

.padding-right {
  padding-right: 10px;
}

.padding-left {
  padding-left: 10px;
}

.text-phone {
  font-size: 25px;
  color: rgb(255, 255, 255);
}
.text-phone a {
  color: #fff;
}

@media only screen and (max-width: 426px) {
  .search-container > #search-product > button {
    margin-top: 0px;
    margin-left: -5px;
    padding: 7px 10px;
    background: rgb(4, 138, 49);
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  #search-product > input[type="text"] {
    width: 200px;
    padding: 7px;
    margin-top: 0px;
    font-size: 17px;
    border: none;
  }
  .text-phone {
    font-size: 20px;
    color: rgb(255, 255, 255);
  }
  .text-phone a {
    color: #fff;
  }
}
/* nav */

@media only screen and (min-width: 993px) {
  #menu {
    padding: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
  }
  #menu > .items1 {
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-size: 20px;
  }
  #menu > .items1 > li {
    padding-left: 10px;
    padding-right: 10px;
  }
  #menu > .items2 {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
  }
  u {
    text-decoration: none;
  }
  #menu > .top > li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  #menu {
    padding: 15px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #menu > .items1 {
    display: flex;
    flex-direction: row;
  }
  #menu > .items2 {
    display: flex;
    flex-direction: row;
    color: #fff;
    align-items: center;
  }
  u {
    text-decoration: none;
  }
  #menu li a {
    padding: 0px 7px;
  }
  #menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 19px;
  }
  .cart-icon {
    color: #fff;
  }
}

@media only screen and (max-width: 767.99px) {
  /* quantity */
  .cart-icon {
    position: relative !important;
  }
  #total-cart {
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(25%);
    width: 30px;
    height: 26px;
    color: white;
    font-size: 1.3rem;
    background-color: red;
    line-height: 26px;
    border-radius: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  #menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color: #fff;
    text-align: center;
  }

  #menu li {
    margin-top: 20px;
  }

  #menu li:hover {
    background-color: rgb(3, 70, 148) !important;
    margin: 10px 0;
  }

  #menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
  }



  u {
    text-decoration: none;
  }
  #menu > .items2 {
    display: none;
  }
  @-webkit-keyframes my {
    0% {
      color: red;
    }
    50% {
      color: #fff;
    }
    100% {
      color: red;
    }
  }
  @-moz-keyframes my {
    0% {
      color: red;
    }
    50% {
      color: #fff;
    }
    100% {
      color: red;
    }
  }
  @-o-keyframes my {
    0% {
      color: red;
    }
    50% {
      color: #fff;
    }
    100% {
      color: red;
    }
  }
  @keyframes my {
    0% {
      color: red;
    }
    50% {
      color: #fff;
    }
    100% {
      color: red;
    }
  }
  
  .change {
    font-size: 24px;
    font-weight: bold;
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite;
    -o-animation: my 700ms infinite;
    animation: my 700ms infinite;
  }
  
}

/* start main */
#product {
  margin-top: 100px;
}

/* find product */
#gender {
  width: 30%;
  height: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(252, 69, 69);
  cursor: pointer;
}

option {
  cursor: pointer !important;
}

#product .product__select {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* render product */
#product .product-items {
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

#product .product-items .product__item {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid green;
  padding-bottom: 20px;
  margin-top: 50px;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

#product .product-items .product__item .item__image {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 25px;
}
#product .product-items .product__item:hover .item__image a img {
  transform: translateY(-10px);
}
.product__item .item__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.product__item .item__image img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 5px auto 0 auto;
  object-fit: contain;
  transition: all 0.5s ease;
  will-change: transform;
}

.product__item .item__main {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.item__main p span {
  font-weight: bold;
  color: red;
}

.product__item .item__description {
  padding-left: 30px;
}

.product__item button {
  color: white;
  background-color: rgb(255, 51, 0);
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  border: none;
  width: 200px;
  margin: auto;
  border-radius: 16px;
  margin-top: 40px !important;
  z-index: 0;
}

.product__item button:hover {
  background-color: rgb(29, 247, 9);
}

/* cart */
.cart #cart__total img {
  width: 80px;
}

.product {
  display: flex;
  align-items: center;
}

input[type="number"] {
  width: 50px;
  outline: none;
}

.cart h2 {
  margin-bottom: 20px;
  text-align: center;
  color: rgb(43, 255, 36);
}

.cart table {
  width: 100%;
}

.cart table thead tr th:first-child {
  text-align: left;
}

.cart table tr td {
  border-bottom: 1px solid #ddd;
  padding: 12px 0px;
}

.cart table thead tr th:last-child {
  text-align: right;
}

.cart table tbody tr td:last-child {
  text-align: right;
}

.my__cart {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  transition: all 1s;
  right: -100%;
}

.cart {
  max-width: 100%;
  position: relative;
  top: 0;
  right: 0;
  background-color: #fff;
  height: 100vh;
  transition: all 1s;
  padding: 12px 20px;
  overflow-y: scroll;
}

.cart i {
  cursor: pointer;
  float: right;
  font-size: 30px;
}
.cart i:hover {
  color: red;
}
.cart-icon {
  cursor: pointer;
  font-size: 25px;
}

/* <!-- your product --> */
.order__show {
  position: fixed;
  height: 100vh;
  width: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 12px 20px;
  overflow-y: scroll;
  left: -100%;
  transition: all 1s;
  border: 5px solid rgb(139, 139, 139);
  z-index: 3;
}

#order__table {
  margin: auto;
  width: 80%;
}
.flex {
  display: flex;
  justify-content: space-evenly;
}

/* Order success */
.success__order {
  position: fixed;
  height: 350px;
  width: 420px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 12px 20px;
  top: -100%;
  transition: all 1s;
  border: 5px solid rgb(139, 139, 139);
  z-index: 3;
}

/* continue cart */
.continue__Purchase {
  position: fixed;
  height: 180px;
  width: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 12px 20px;
  transition: all 1s;
  border: 5px solid rgb(139, 139, 139);
  text-align: center;
  top: -100%;
  z-index: 3;
}


/* đường kẻ ngang */
.see-more {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  border-bottom: 1px solid red;
  width: 50%;
  margin: auto;
  padding: 30px;
}

/* phân trang */
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a:hover {
  background-color: red;
}

/* footer */
.voucher_right_input {
  display: flex;
  align-items: center;
}
.footer__content {
  display: flex;
  justify-content: space-around;
  background-color: rgb(50, 149, 206);
  color: #fff;
  padding: 80px 0;
}
.footer__content a {
  color: #fff;
}
.footer__content a:hover {
  color: rgb(255, 28, 28);
}
.footer__content p {
  margin: 10px 0;
}
.support,
.about-us,
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}

.contact {
  margin-top: -125px;
}
.about-us {
  margin-top: -125px;
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .footer__content {
    flex-wrap: wrap;
  }

  .support,
  .about-us,
  .contact {
    margin: 0 50px;
  }
  .contact {
    margin-top: -125px;
  }
  .about-us {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 768.99px) {
  
  .footer__content {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
  }

  .contact {
    margin: 30px 0;
  }
  .about-us {
    margin-top: -20px;
  }
}
